.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal__close-icon {
  width: 40px;
  height: 40px;
  display: block;
  opacity: 0.4;
  pointer-events: none;
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:active .modal__close-icon {
  opacity: 1;
}

.modal__close-btn:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
  border-radius: 8px;
}

.modal__title {
  margin: 0 0 16px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 630px;
  max-width: 100%;
}

.modal__label {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #212121;
  font: 500 16px/16px "Poppins", sans-serif;
}

.modal__input {
  width: 100%;
  max-width: 630px;
  height: 52px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  background: #fff;
  color: #212121;
  box-shadow: none;
  outline: none;
  font: 400 16px/1 "Poppins", sans-serif;
}

.modal__input:focus {
  border-color: #000;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.4);
}

.modal__input:focus {
  border-color: rgba(33, 33, 33, 0.7);
}

.modal__submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
}

.modal__submit-btn:hover {
  background-color: #000;
}

.modal__submit-icon {
  display: none;
}

.modal__submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
